---
import Label from './Label.astro';

interface Props {
  url: string;
  colourway?: string;
  sculpt?: string;
  mount?: string;
  maker?: string;
  thumbnail?: string;
  note?: string;
  priority?: string;
  disableLink?: boolean;
}

const {
  url,
  colourway = '?',
  sculpt = '?',
  mount,
  maker = '?',
  thumbnail,
  note,
  priority,
  disableLink = false
} = Astro.props;

const label = `${colourway} - ${sculpt}${mount && ` (${mount})`} - ${maker}`;

---

<a {...(disableLink ? {} : {href: url})} aria-disabled={disableLink} role="link" aria-label={label}>
  <div class="flex flex-col rounded-lg shadow-md overflow-hidden">
    <div class="aspect-4/3 overflow-hidden flex items-center justify-center">
      <img class="w-full" src={thumbnail} alt={label} />
    </div>
    <label class="p-2">{colourway} - {sculpt}</label>
    <div class="flex flex-row p-2 gap-2 text-wrap flex-wrap">
      {maker && <Label type="maker" value={maker} />}
      {mount && <Label type="mount" value={mount} />}
      {priority && <Label type="priority" value={priority} />}
    </div>
  </div>
</a>